/* JWS Portfolio CSS */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.jwa-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.jwa-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.jwa-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.jwa-table,.jwa-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.jwa-table-all{border:1px solid #ccc}
.jwa-bordered tr,.jwa-table-all tr{border-bottom:1px solid #ddd}.jwa-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.jwa-table-all tr:nth-child(odd){background-color:#fff}.jwa-table-all tr:nth-child(even){background-color:#f1f1f1}
.jwa-hoverable tbody tr:hover,.jwa-ul.jwa-hoverable li:hover{background-color:#ccc}.jwa-centered tr th,.jwa-centered tr td{text-align:center}
.jwa-table td,.jwa-table th,.jwa-table-all td,.jwa-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.jwa-table th:first-child,.jwa-table td:first-child,.jwa-table-all th:first-child,.jwa-table-all td:first-child{padding-left:16px}
.jwa-btn,.jwa-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.jwa-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.jwa-btn,.jwa-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.jwa-disabled,.jwa-btn:disabled,.jwa-button:disabled{cursor:not-allowed;opacity:0.3}.jwa-disabled *,:disabled *{pointer-events:none}
.jwa-btn.jwa-disabled:hover,.jwa-btn:disabled:hover{box-shadow:none}
.jwa-badge,.jwa-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.jwa-badge{border-radius:50%}
.jwa-ul{list-style-type:none;padding:0;margin:0}.jwa-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.jwa-ul li:last-child{border-bottom:none}
.jwa-tooltip,.jwa-display-container{position:relative}.jwa-tooltip .jwa-text{display:none}.jwa-tooltip:hover .jwa-text{display:inline-block}
.jwa-ripple:active{opacity:0.5}.jwa-ripple{transition:opacity 0s}
.jwa-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.jwa-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.jwa-dropdown-click,.jwa-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.jwa-dropdown-hover:hover .jwa-dropdown-content{display:block}
.jwa-dropdown-hover:first-child,.jwa-dropdown-click:hover{background-color:#ccc;color:#000}
.jwa-dropdown-hover:hover > .jwa-button:first-child,.jwa-dropdown-click:hover > .jwa-button:first-child{background-color:#ccc;color:#000}
.jwa-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.jwa-check,.jwa-radio{width:24px;height:24px;position:relative;top:6px}
.jwa-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.jwa-bar-block .jwa-dropdown-hover,.jwa-bar-block .jwa-dropdown-click{width:100%}
.jwa-bar-block .jwa-dropdown-hover .jwa-dropdown-content,.jwa-bar-block .jwa-dropdown-click .jwa-dropdown-content{min-width:100%}
.jwa-bar-block .jwa-dropdown-hover .jwa-button,.jwa-bar-block .jwa-dropdown-click .jwa-button{width:100%;text-align:left;padding:8px 16px}
.jwa-main,#main{transition:margin-left .4s}
.jwa-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.jwa-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.jwa-bar{width:100%;overflow:hidden}.jwa-center .jwa-bar{display:inline-block;width:auto}
.jwa-bar .jwa-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.jwa-bar .jwa-dropdown-hover,.jwa-bar .jwa-dropdown-click{position:static;float:left}
.jwa-bar .jwa-button{white-space:normal}
.jwa-bar-block .jwa-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.jwa-bar-block.jwa-center .jwa-bar-item{text-align:center}.jwa-block{display:block;width:100%}
.jwa-responsive{display:block;overflow-x:auto}
.jwa-container:after,.jwa-container:before,.jwa-panel:after,.jwa-panel:before,.jwa-row:after,.jwa-row:before,.jwa-row-padding:after,.jwa-row-padding:before,
.jwa-cell-row:before,.jwa-cell-row:after,.jwa-clear:after,.jwa-clear:before,.jwa-bar:before,.jwa-bar:after{content:"";display:table;clear:both}
.jwa-col,.jwa-half,.jwa-third,.jwa-twothird,.jwa-threequarter,.jwa-quarter{float:left;width:100%}
.jwa-col.s1{width:8.33333%}.jwa-col.s2{width:16.66666%}.jwa-col.s3{width:24.99999%}.jwa-col.s4{width:33.33333%}
.jwa-col.s5{width:41.66666%}.jwa-col.s6{width:49.99999%}.jwa-col.s7{width:58.33333%}.jwa-col.s8{width:66.66666%}
.jwa-col.s9{width:74.99999%}.jwa-col.s10{width:83.33333%}.jwa-col.s11{width:91.66666%}.jwa-col.s12{width:99.99999%}
@media (min-width:601px){.jwa-col.m1{width:8.33333%}.jwa-col.m2{width:16.66666%}.jwa-col.m3,.jwa-quarter{width:24.99999%}.jwa-col.m4,.jwa-third{width:33.33333%}
.jwa-col.m5{width:41.66666%}.jwa-col.m6,.jwa-half{width:49.99999%}.jwa-col.m7{width:58.33333%}.jwa-col.m8,.jwa-twothird{width:66.66666%}
.jwa-col.m9,.jwa-threequarter{width:74.99999%}.jwa-col.m10{width:83.33333%}.jwa-col.m11{width:91.66666%}.jwa-col.m12{width:99.99999%}}
@media (min-width:993px){.jwa-col.l1{width:8.33333%}.jwa-col.l2{width:16.66666%}.jwa-col.l3{width:24.99999%}.jwa-col.l4{width:33.33333%}
.jwa-col.l5{width:41.66666%}.jwa-col.l6{width:49.99999%}.jwa-col.l7{width:58.33333%}.jwa-col.l8{width:66.66666%}
.jwa-col.l9{width:74.99999%}.jwa-col.l10{width:83.33333%}.jwa-col.l11{width:91.66666%}.jwa-col.l12{width:99.99999%}}
.jwa-rest{overflow:hidden}.jwa-stretch{margin-left:-16px;margin-right:-16px}
.jwa-content,.jwa-auto{margin-left:auto;margin-right:auto}.jwa-content{max-width:980px}.jwa-auto{max-width:1140px}
.jwa-cell-row{display:table;width:100%}.jwa-cell{display:table-cell}
.jwa-cell-top{vertical-align:top}.jwa-cell-middle{vertical-align:middle}.jwa-cell-bottom{vertical-align:bottom}
.jwa-hide{display:none!important}.jwa-show-block,.jwa-show{display:block!important}.jwa-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.jwa-auto{max-width:95%}}
@media (max-width:600px){.jwa-modal-content{margin:0 10px;width:auto!important}.jwa-modal{padding-top:30px}
.jwa-dropdown-hover.jwa-mobile .jwa-dropdown-content,.jwa-dropdown-click.jwa-mobile .jwa-dropdown-content{position:relative}	
.jwa-hide-small{display:none!important}.jwa-mobile{display:block;width:100%!important}.jwa-bar-item.jwa-mobile,.jwa-dropdown-hover.jwa-mobile,.jwa-dropdown-click.jwa-mobile{text-align:center}
.jwa-dropdown-hover.jwa-mobile,.jwa-dropdown-hover.jwa-mobile .jwa-btn,.jwa-dropdown-hover.jwa-mobile .jwa-button,.jwa-dropdown-click.jwa-mobile,.jwa-dropdown-click.jwa-mobile .jwa-btn,.jwa-dropdown-click.jwa-mobile .jwa-button{width:100%}}
@media (max-width:768px){.jwa-modal-content{width:500px}.jwa-modal{padding-top:50px}}
@media (min-width:993px){.jwa-modal-content{width:900px}.jwa-hide-large{display:none!important}.jwa-sidebar.jwa-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.jwa-hide-medium{display:none!important}}
@media (max-width:992px){.jwa-sidebar.jwa-collapse{display:none}.jwa-main{margin-left:0!important;margin-right:0!important}.jwa-auto{max-width:100%}}
.jwa-top,.jwa-bottom{position:fixed;width:100%;z-index:1}.jwa-top{top:0}.jwa-bottom{bottom:0}
.jwa-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.jwa-display-topleft{position:absolute;left:0;top:0}.jwa-display-topright{position:absolute;right:0;top:0}
.jwa-display-bottomleft{position:absolute;left:0;bottom:0}.jwa-display-bottomright{position:absolute;right:0;bottom:0}
.jwa-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.jwa-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.jwa-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.jwa-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jwa-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jwa-display-container:hover .jwa-display-hover{display:block}.jwa-display-container:hover span.jwa-display-hover{display:inline-block}.jwa-display-hover{display:none}
.jwa-display-position{position:absolute}
.jwa-circle{border-radius:50%}
.jwa-round-small{border-radius:2px}.jwa-round,.jwa-round-medium{border-radius:4px}.jwa-round-large{border-radius:8px}.jwa-round-xlarge{border-radius:16px}.jwa-round-xxlarge{border-radius:32px}
.jwa-row-padding,.jwa-row-padding>.jwa-half,.jwa-row-padding>.jwa-third,.jwa-row-padding>.jwa-twothird,.jwa-row-padding>.jwa-threequarter,.jwa-row-padding>.jwa-quarter,.jwa-row-padding>.jwa-col{padding:0 8px}
.jwa-container,.jwa-panel{padding:0.01em 16px}.jwa-panel{margin-top:16px;margin-bottom:16px}
.jwa-code,.jwa-codespan{font-family:Consolas,"courier new";font-size:16px}
.jwa-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.jwa-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.jwa-card,.jwa-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.jwa-card-4,.jwa-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.jwa-spin{animation:jwa-spin 2s infinite linear}@keyframes jwa-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.jwa-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.jwa-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.jwa-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.jwa-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.jwa-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.jwa-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.jwa-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.jwa-animate-input{transition:width 0.4s ease-in-out}.jwa-animate-input:focus{width:100%!important}
.jwa-opacity,.jwa-hover-opacity:hover{opacity:0.60}.jwa-opacity-off,.jwa-hover-opacity-off:hover{opacity:1}
.jwa-opacity-max{opacity:0.25}.jwa-opacity-min{opacity:0.75}
.jwa-greyscale-max,.jwa-grayscale-max,.jwa-hover-greyscale:hover,.jwa-hover-grayscale:hover{filter:grayscale(100%)}
.jwa-greyscale,.jwa-grayscale{filter:grayscale(75%)}.jwa-greyscale-min,.jwa-grayscale-min{filter:grayscale(50%)}
.jwa-sepia{filter:sepia(75%)}.jwa-sepia-max,.jwa-hover-sepia:hover{filter:sepia(100%)}.jwa-sepia-min{filter:sepia(50%)}
.jwa-tiny{font-size:10px!important}.jwa-small{font-size:12px!important}.jwa-medium{font-size:15px!important}.jwa-large{font-size:18px!important}
.jwa-xlarge{font-size:24px!important}.jwa-xxlarge{font-size:36px!important}.jwa-xxxlarge{font-size:48px!important}.jwa-jumbo{font-size:64px!important}
.jwa-left-align{text-align:left!important}.jwa-right-align{text-align:right!important}.jwa-justify{text-align:justify!important}.jwa-center{text-align:center!important}
.jwa-border-0{border:0!important}.jwa-border{border:1px solid #ccc!important}
.jwa-border-top{border-top:1px solid #ccc!important}.jwa-border-bottom{border-bottom:1px solid #ccc!important}
.jwa-border-left{border-left:1px solid #ccc!important}.jwa-border-right{border-right:1px solid #ccc!important}
.jwa-topbar{border-top:6px solid #ccc!important}.jwa-bottombar{border-bottom:6px solid #ccc!important}
.jwa-leftbar{border-left:6px solid #ccc!important}.jwa-rightbar{border-right:6px solid #ccc!important}
.jwa-section,.jwa-code{margin-top:16px!important;margin-bottom:16px!important}
.jwa-margin{margin:16px!important}.jwa-margin-top{margin-top:16px!important}.jwa-margin-bottom{margin-bottom:16px!important}
.jwa-margin-left{margin-left:16px!important}.jwa-margin-right{margin-right:16px!important}
.jwa-padding-small{padding:4px 8px!important}.jwa-padding{padding:8px 16px!important}.jwa-padding-large{padding:12px 24px!important}
.jwa-padding-16{padding-top:16px!important;padding-bottom:16px!important}.jwa-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.jwa-padding-32{padding-top:32px!important;padding-bottom:32px!important}.jwa-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.jwa-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.jwa-left{float:left!important}.jwa-right{float:right!important}
.jwa-button:hover{color:#000!important;background-color:#ccc!important}
.jwa-transparent,.jwa-hover-none:hover{background-color:transparent!important}
.jwa-hover-none:hover{box-shadow:none!important}
/* Colors */
.jwa-amber,.jwa-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.jwa-aqua,.jwa-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.jwa-blue,.jwa-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.jwa-light-blue,.jwa-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.jwa-brown,.jwa-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.jwa-cyan,.jwa-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.jwa-blue-grey,.jwa-hover-blue-grey:hover,.jwa-blue-gray,.jwa-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.jwa-green,.jwa-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.jwa-light-green,.jwa-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.jwa-indigo,.jwa-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.jwa-khaki,.jwa-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.jwa-lime,.jwa-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.jwa-orange,.jwa-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.jwa-deep-orange,.jwa-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.jwa-pink,.jwa-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.jwa-purple,.jwa-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.jwa-deep-purple,.jwa-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.jwa-red,.jwa-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.jwa-sand,.jwa-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.jwa-teal,.jwa-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.jwa-yellow,.jwa-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.jwa-white,.jwa-hover-white:hover{color:#000!important;background-color:#fff!important}
.jwa-black,.jwa-hover-black:hover{color:#fff!important;background-color:#000!important}
.jwa-grey,.jwa-hover-grey:hover,.jwa-gray,.jwa-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.jwa-light-grey,.jwa-hover-light-grey:hover,.jwa-light-gray,.jwa-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.jwa-dark-grey,.jwa-hover-dark-grey:hover,.jwa-dark-gray,.jwa-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.jwa-pale-red,.jwa-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.jwa-pale-green,.jwa-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.jwa-pale-yellow,.jwa-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.jwa-pale-blue,.jwa-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.jwa-text-amber,.jwa-hover-text-amber:hover{color:#ffc107!important}
.jwa-text-aqua,.jwa-hover-text-aqua:hover{color:#00ffff!important}
.jwa-text-blue,.jwa-hover-text-blue:hover{color:#2196F3!important}
.jwa-text-light-blue,.jwa-hover-text-light-blue:hover{color:#87CEEB!important}
.jwa-text-brown,.jwa-hover-text-brown:hover{color:#795548!important}
.jwa-text-cyan,.jwa-hover-text-cyan:hover{color:#00bcd4!important}
.jwa-text-blue-grey,.jwa-hover-text-blue-grey:hover,.jwa-text-blue-gray,.jwa-hover-text-blue-gray:hover{color:#607d8b!important}
.jwa-text-green,.jwa-hover-text-green:hover{color:#4CAF50!important}
.jwa-text-light-green,.jwa-hover-text-light-green:hover{color:#8bc34a!important}
.jwa-text-indigo,.jwa-hover-text-indigo:hover{color:#3f51b5!important}
.jwa-text-khaki,.jwa-hover-text-khaki:hover{color:#b4aa50!important}
.jwa-text-lime,.jwa-hover-text-lime:hover{color:#cddc39!important}
.jwa-text-orange,.jwa-hover-text-orange:hover{color:#ff9800!important}
.jwa-text-deep-orange,.jwa-hover-text-deep-orange:hover{color:#ff5722!important}
.jwa-text-pink,.jwa-hover-text-pink:hover{color:#e91e63!important}
.jwa-text-purple,.jwa-hover-text-purple:hover{color:#9c27b0!important}
.jwa-text-deep-purple,.jwa-hover-text-deep-purple:hover{color:#673ab7!important}
.jwa-text-red,.jwa-hover-text-red:hover{color:#f44336!important}
.jwa-text-sand,.jwa-hover-text-sand:hover{color:#fdf5e6!important}
.jwa-text-teal,.jwa-hover-text-teal:hover{color:#009688!important}
.jwa-text-yellow,.jwa-hover-text-yellow:hover{color:#d2be0e!important}
.jwa-text-white,.jwa-hover-text-white:hover{color:#fff!important}
.jwa-text-black,.jwa-hover-text-black:hover{color:#000!important}
.jwa-text-grey,.jwa-hover-text-grey:hover,.jwa-text-gray,.jwa-hover-text-gray:hover{color:#757575!important}
.jwa-text-light-grey,.jwa-hover-text-light-grey:hover,.jwa-text-light-gray,.jwa-hover-text-light-gray:hover{color:#f1f1f1!important}
.jwa-text-dark-grey,.jwa-hover-text-dark-grey:hover,.jwa-text-dark-gray,.jwa-hover-text-dark-gray:hover{color:#3a3a3a!important}
.jwa-border-amber,.jwa-hover-border-amber:hover{border-color:#ffc107!important}
.jwa-border-aqua,.jwa-hover-border-aqua:hover{border-color:#00ffff!important}
.jwa-border-blue,.jwa-hover-border-blue:hover{border-color:#2196F3!important}
.jwa-border-light-blue,.jwa-hover-border-light-blue:hover{border-color:#87CEEB!important}
.jwa-border-brown,.jwa-hover-border-brown:hover{border-color:#795548!important}
.jwa-border-cyan,.jwa-hover-border-cyan:hover{border-color:#00bcd4!important}
.jwa-border-blue-grey,.jwa-hover-border-blue-grey:hover,.jwa-border-blue-gray,.jwa-hover-border-blue-gray:hover{border-color:#607d8b!important}
.jwa-border-green,.jwa-hover-border-green:hover{border-color:#4CAF50!important}
.jwa-border-light-green,.jwa-hover-border-light-green:hover{border-color:#8bc34a!important}
.jwa-border-indigo,.jwa-hover-border-indigo:hover{border-color:#3f51b5!important}
.jwa-border-khaki,.jwa-hover-border-khaki:hover{border-color:#f0e68c!important}
.jwa-border-lime,.jwa-hover-border-lime:hover{border-color:#cddc39!important}
.jwa-border-orange,.jwa-hover-border-orange:hover{border-color:#ff9800!important}
.jwa-border-deep-orange,.jwa-hover-border-deep-orange:hover{border-color:#ff5722!important}
.jwa-border-pink,.jwa-hover-border-pink:hover{border-color:#e91e63!important}
.jwa-border-purple,.jwa-hover-border-purple:hover{border-color:#9c27b0!important}
.jwa-border-deep-purple,.jwa-hover-border-deep-purple:hover{border-color:#673ab7!important}
.jwa-border-red,.jwa-hover-border-red:hover{border-color:#f44336!important}
.jwa-border-sand,.jwa-hover-border-sand:hover{border-color:#fdf5e6!important}
.jwa-border-teal,.jwa-hover-border-teal:hover{border-color:#009688!important}
.jwa-border-yellow,.jwa-hover-border-yellow:hover{border-color:#ffeb3b!important}
.jwa-border-white,.jwa-hover-border-white:hover{border-color:#fff!important}
.jwa-border-black,.jwa-hover-border-black:hover{border-color:#000!important}
.jwa-border-grey,.jwa-hover-border-grey:hover,.jwa-border-gray,.jwa-hover-border-gray:hover{border-color:#9e9e9e!important}
.jwa-border-light-grey,.jwa-hover-border-light-grey:hover,.jwa-border-light-gray,.jwa-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.jwa-border-dark-grey,.jwa-hover-border-dark-grey:hover,.jwa-border-dark-gray,.jwa-hover-border-dark-gray:hover{border-color:#616161!important}
.jwa-border-pale-red,.jwa-hover-border-pale-red:hover{border-color:#ffe7e7!important}.jwa-border-pale-green,.jwa-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.jwa-border-pale-yellow,.jwa-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.jwa-border-pale-blue,.jwa-hover-border-pale-blue:hover{border-color:#e7ffff!important}